@use './variables' as *;
@use './mixins' as *;
*{
    box-sizing: border-box;
    margin: 0;
    font-style: normal;
}
body{
    font-family: $font-regular;
    color: $color-primary-black;
    background-color: $color-primary-pistachio;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $color-primary-black;
}
