$desktop-large-breakpoint: 1280px;
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;


$color-black-900: #28333E;
$color-black-800: #424D57; 
$color-white-20: #FAFBFB;
$color-white-50: #F6F7F8;
$color-gray-100: #E5E8EB;
$color-gray-200: #CBD1D7;
$color-gray-300: #B9C2CA;
$color-gray-600: #74808B;
$color-teal: #50E3C2

