.map-container{
    position: relative;
    height: calc(100% - 30%);
    width: calc(100% - 40%);
    &__arrow{
        width: 100%;
        padding: 3rem;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 50;

    }
}
.map{
    position: relative;
    height: 100%;
    width: 100%;
  }