@use '../../styles/partials/variables' as *;

.main-content{
    width: 100%;
    height: 100vh;
    background-color: $color-white-50;
    &__container{
        padding: 0 1rem;
        max-width: 1020px;
        margin: 0 auto;
    }
}